<!DOCTYPE html>
<meta http-equiv="Content-Security-Policy" content="default-src 'self' ; script-src 'self' 'unsafe-inline' ">
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Крыша</title>
</head>
<body>
    <script type="text/javascript">
        const dome_url = '/api/v1/dome/0';
        function command(s) {
            var request = new XMLHttpRequest();
            request.open('PUT', dome_url + '/' + s);
            //request.responseType = 'text';
            request.onload = function () {
                document.getElementById("l_state").textContent = request.response;
            };

            request.send();
        }

        function roofStatus(v) {
            const rooftext = [
                "Открыто",
                "Закрыто",
                "Открывается",
                "Закрывается",
                "Ошибка",
                "Неизвестно"
            ];
            if (v < 0) v=0;
	    if (v >= rooftext.length) v=rooftext.length;
	    return rooftext[v] + " (" + v + ")";
        }
        var roof_status_ext = { status: "unknown" };
	var roof_status = {};
        function timerupdate() {
            var request = new XMLHttpRequest();
            request.open('GET', dome_url + '/' + 'shutterstatus');
            //request.responseType = 'text';
            request.onload = function () {
                var r = JSON.parse(request.response);
		roof_status = r;
		fDisplayUpdate = true;
            };
            request.send();
            var req_ext = new XMLHttpRequest();
            req_ext.open('GET', '/roof/service/status');
            //req_ext.responseType = 'application/json';
            req_ext.onload = function () {
                var rext = JSON.parse(req_ext.response);
                roof_status_ext = rext;
		fDisplayUpdate = true;
            };
            req_ext.send();
	    displayupdate();
        }
        function setBackground(obj, bg) {
		var f = document.getElementById(obj);
		if (f == null) return;
		if (bg != null && bg != "") {
			f.style.backgroundColor=bg;
		} else {
			f.style.backgroundColor=null;
		}
	}
	function displayupdate() {
		fDisplayUpdate = false;
                document.getElementById("l_state").textContent = "Овен "+roof_status_ext.versionText + " " + roofStatus(roof_status.value);
		if (roof_status_ext.isOpened) {
			setBackground("b_openall", "#7FFF7F");
			setBackground("b_openroof", "#7FFF7F");
			setBackground("b_closeall", "");
			setBackground("b_closeroof", "");
		}
		if (roof_status_ext.isClosed) {
			setBackground("b_closeall", "#7FFF7F");
			setBackground("b_closeroof", "#7FFF7F");
			setBackground("b_openall", "");
			setBackground("b_openroof", "");
		}
		if (roof_status_ext.isOpening) {
			setBackground("b_openall", "#FFFF7F");
			setBackground("b_openroof", "#FFFF7F");
		}
		if (roof_status_ext.isClosing) {
			setBackground("b_closeall", "#FFFF7F");
			setBackground("b_closeroof", "#FFFF7F");
		}
		if (roof_status_ext.isPowerOn) {
			setBackground("b_poweron", "#7FFF7F");
			setBackground("b_poweroff", "");
		} else {
			setBackground("b_poweron", "");
			setBackground("b_poweroff", "#7FFF7F");
		}
		if (roof_status_ext.isPowerLocked) {
			setBackground("b_powerunlock", "#FFFF7F");
		} else {
			setBackground("b_powerunlock", "");
		}
		if (roof_status_ext.isEqPowerOn) {
			setBackground("b_eqpoweron", "#7FFF7F");
			setBackground("b_eqpoweroff", "");
		} else {
			setBackground("b_eqpoweron", "");
			setBackground("b_eqpoweroff", "#7FFF7F");
		}
		if (roof_status_ext.isLightOn) {
			setBackground("b_lighton", "#7FFF7F");
			setBackground("b_lightoff", "");
		} else {
			setBackground("b_lighton", "");
			setBackground("b_lightoff", "#7FFF7F");
		}
		if (roof_status_ext.isRain) {
			if (roof_status_ext.isRainDisabled) {
				setBackground("b_raindis", "#FF7F7F");
				setBackground("b_rainen", "#FFFF7F");
			} else {
				setBackground("b_raindis", "#FF7F7F");
				setBackground("b_rainen", "");
			}
		} else {
			if (roof_status_ext.isRainDisabled) {
				setBackground("b_raindis", "#FF7F7F");
				setBackground("b_rainen", "");
			} else {
				setBackground("b_raindis", "");
				setBackground("b_rainen", "");
			}
		}
	}

        const service_dome_url = '/roof/service';
        function serviceCommand(s) {
            var request = new XMLHttpRequest();
            request.open('PUT', service_dome_url + '/' + s);
            //request.responseType = 'application/json';
            request.onload = function () {
                document.getElementById("l_state").textContent = request.response;
            };

            request.send();
        }
        setInterval(() => timerupdate(), 333);

    </script>

    <label id="l_state">[Состояниие крыши]</label> <br />
    <label>Крыша + телескоп</label> <br />
    <button id="b_openall" onClick="command('openshutter')"> Открыть </button>
    <button id="b_closeall" onClick="command('closeshutter')"> Закрыть </button>
    <button id="b_stopall" onClick="command('abortslew')"> Стоп </button>
    <button id="b_parkall" onClick="serviceCommand('park')"> Парковка </button>
    <br />
    <label>Крыша отдельно</label><br />
    <button id="b_openroof" onClick="serviceCommand('open')"> Открыть </button>
    <button id="b_closeroof" onClick="serviceCommand('close')"> Закрыть </button>
    <button id="b_stoproof" onClick="serviceCommand('stop')"> Стоп </button>
    <br />
    <label>Питание монтировки</label><br />
    <button id="b_poweron" onClick="serviceCommand('poweron')"> Вкл </button>
    <button id="b_poweroff" onClick="serviceCommand('poweroff')"> Откл </button>
    <button id="b_powerunlock" onClick="serviceCommand('powerunlock')"> Разблокировать </button>
    <br />
    <label>Питание аппаратуры</label><br />
    <button id="b_eqpoweron" onClick="serviceCommand('eqpoweron')"> Вкл </button>
    <button id="b_eqpoweroff" onClick="serviceCommand('eqpoweroff')"> Откл </button>
    <button id="b_eqreset" onClick="serviceCommand('eqreset')"> Перезапуск </button>
    <br />
    <label>Прочие команды</label><br />
    <button id="b_ligthon" onClick="serviceCommand('lighton')"> Свет Вкл </button>
    <button id="b_ligthoff" onClick="serviceCommand('lightoff')"> Свет Откл </button>
    <button id="b_raindis" onClick="serviceCommand('raindisable')"> Откл датчик дождя </button>
    <button id="b_rainen" onClick="serviceCommand('rainenable')"> Вкл датчик дождя </button>
    <br />
    <label id="l_inputs">Входы:</label>
    <label id="l_outputs">Выходы:</label>
    <br />

</body>
</html>